.TranslationBlock {
  --padding: calc(2 * var(--spacing-factor));
  --rows: 5;
  --height: calc(var(--padding) + var(--rows) * var(--line-height-m));

  position: relative;

  height: var(--height);

  border: 1px solid var(--controls-border-color);
}

.TranslationBlock__text,
.TranslationBlock__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  padding: var(--padding);
  overflow: auto;

  color: inherit;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  background-color: inherit;
  border: none;
}

.TranslationBlock__button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;

  font-size: x-large;
}
