.TranslationBlock {
  --padding: calc(2 * var(--spacing-factor));
  --rows: 5;
  --height: calc(var(--padding) + var(--rows) * var(--line-height-m));

  height: var(--height);
  border: 1px solid var(--controls-border-color);
  position: relative;
}

.TranslationBlock__text,
.TranslationBlock__input {
  z-index: 1;
  padding: var(--padding);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: inherit;
  color: inherit;
  border: none;
}

.TranslationBlock__button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: x-large;
  z-index: 2;
}
