.App {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr auto;
  gap: calc(5 * var(--spacing-factor));
  align-items: baseline;

  max-width: 800px;

  margin: calc(5 * var(--spacing-factor)) calc(4 * var(--spacing-factor));
}

.App__logo {
  font-size: x-large;
  font-family: cursive;
}

.App__header {
  display: flex;
  justify-content: flex-end;
}

.App__translations {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(4 * var(--spacing-factor));
}

.App__block {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(2 * var(--spacing-factor));
}
