*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --text-primary-color: #333333;
  --bg-main-color: white;
  --controls-border-color: #dedede;
  --focus-color: steelblue;
  --focus-text-color: white;

  /* Spacing */
  --spacing-factor: 4px;

  /* Font */
  --font-size-m: 15px;
  --line-height-m: 20px;
}

html.dark-mode {
  --text-primary-color: #ffffff;
  --bg-main-color: #333333;

  --controls-border-color: #ffffff;
}
/* @media (prefers-color-scheme: dark) */

html {
  color: var(--text-primary-color);
  font-size: var(--font-size-m);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: var(--line-height-m);

  background-color: var(--bg-main-color);

  transition-delay: 0;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  transition-property: all;
}

#root {
  display: flex;
  justify-content: center;
}

#root *::selection {
  color: var(--focus-text-color);

  background: var(--focus-color);
}
